* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
h2 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.33333;
  letter-spacing: 0.04em;  
}
ul {
  list-style-type: none;
  text-align: start;
  
}
li {
  font-family: "Montserrat", sans-serif;
}
.photo {
  width: 360px;
  height: 300px;
}

.gallery {
  list-style-type: none;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.login-form {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
}
input {
  width: 360px;
  height: 40px;
}
.widget {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.change-color {
 background-color: #4e75ff;
 border-radius: 8px;
 width: 148px; 
 height: 40px;
 font-family: "Montserrat", sans-serif;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.04em;
 color: #fff;
 }
#boxes {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
#controls {
display: flex;
align-items: center;
gap: 20px;
}